@import "tailwindcss";

:root {
  --primary-color: #00c336;
  --secondary-color: #6cc04b;
  --bg-light-blue: #77d2e8;
  --text-black-color: #292929;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400;
  font-style: normal; */
}

/* Wider diagonal for 100vh layout */
.clip-diagonal-wide {
  clip-path: polygon(90% 0%, 100% 0%, 100% 100%, 70% 100%);
}
